*{
    box-sizing: border-box;
}
div{
   margin: 0;
   margin-top: 0;

}
.horeysa{
    background-color: blueviolet;
    color:white;
    text-align: center;
    padding: 15px;
}
h5{
    background-color: rgb(159, 86, 228);
    padding: 10px;
    border-radius: 10px;
    box-shadow:  2px 2px 5px white;
    
}
.kuxigta{
    background-color: rgb(233, 227, 240);
    width: 150px;
    height: 550px;
    padding: 10px;
    border-right:2px dashed;
    float: left;
    box
    
}
h2{
    text-align: center;
    border-bottom:dashed;

}
a{
    color: black;
    border: 2px dashed;
    display: block;
    padding: 4px;
    box-shadow: 2px 2px 5px red;
    text-shadow: 1px 1px 8px red;
    font-weight: bold;
    text-align: center;

}
.dhexda{
    background-color: white;
    width: 900px;
    height: 350px;
    margin-left: 16%;


}
.bartanka{
    background-color:rgb(239, 235, 243) ;
    border: 2px solid blue;
    margin: 15px;
    padding: 10px;
    font-size: medium;
    border-radius: 15px;
    box-shadow: 2px 2px 5px red;

}
h3{
    border-bottom: 3px solid blue;
    padding: 10px;
}
h6{
    font-size: large;
    text-shadow: 2px 2px 5px rgb(219, 96, 96);
}
.danbeysa{
  
      background-color: blueviolet;
    color:white;
    text-align: center;
    padding: 15px;
    width: 1100px;
    float: left;
    margin-top: 10px;

    
    

}
body{
    width: 1100px;
    height: 777px;
    box-shadow: 2px 2px 7px red;
    margin: 40px;
    margin-top: 0;
    margin-left: 100px;
    
}